 .button-send {
    font-family: inherit;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }

  .button-send span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  .button-send svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  .button-send:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }

  .button-send:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }

  .button-send:hover span {
    transform: translateX(5em);
  }

  .button-send:active {
    transform: scale(0.95);
  }

  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }

    to {
      transform: translateY(-0.1em);
    }
  }

  .css-1qzevvg {
    margin: 0 auto !important;
  }
  .css-1qzevvg:hover {
    cursor: pointer !important;
  }

  .sectionStats .css-1fzpoyk {
    width: 100%;
    max-width: 1200px;
  }