---
import Layout from '../layouts/Layout.astro';
import ServiceTable from '../components/pricing/ServiceTable.astro';
import Faq from '../components/home/faq.astro';
import Cta from '../components/home/Cta.astro';
import BenefitsReutilizable from '../components/home/BenefitsReutilizable.astro';
import benefitsHome from '../docs/home/benefits.js';
import Bento12 from '../components/home/Bento12.astro';
---

<Layout
  description="From the minds at Memoria Studio — discover how we build, scale, and share creative systems."
  title="Home · Memoria Wider"
>
  <!--Inicio Hero-->

  <section class="py-8">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="relative">
        <img
          class="h-[600px] w-full rounded-3xl object-cover"
          width="1280"
          height="600"
          src="/assets/pexels-kampus-7964658.jpg"
          alt="Hero picture"
        />

        <div class="absolute inset-0 flex flex-col items-start justify-end p-8 sm:p-12 md:p-16">
          <div class="max-w-xl flex-col items-start gap-4 sm:gap-6">
            <h1
              class="text-4xl font-medium tracking-tight text-white [text-shadow:0_2px_4px_rgba(0,0,0,0.6)] sm:text-5xl lg:text-6xl"
            >
              Inspiration for What Comes Next
            </h1>

            <p class="mt-4 text-lg text-white [text-shadow:0_1px_3px_rgba(0,0,0,0.5)] sm:text-xl">
              Find the spark to build what’s next — and make it real with Memoria Wider.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <BenefitsReutilizable title="The Results You're Looking For..." items={benefitsHome} />
  <Bento12 items={benefitsHome}/>

  <ServiceTable />

  <Faq />

  <Cta />
</Layout>
