---
import GradientText from '../ui/GradientText.astro';

const services = [
  {
    name: 'Channel Analysis',
    description: 'We study your style and performance patterns to ensure every idea aligns with your brand DNA',
  },
  {
    name: 'Tiered Concept Development',
    description: 'Our team crafts core ideations and maps them into Easy, Medium, and Advanced paths.',
  },
  {
    name: 'Interactive Hub Access',
    description: 'Access your report through your Personal Dashboard, designed for instant review and execution.',
  },
];
---

<section class="pb-16">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 sm:gap-12">
      <GradientText class="text-3xl font-bold tracking-tight sm:text-4xl mt-12">How It Works: The Methodology</GradientText>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="relative flex flex-col gap-6 rounded-3xl bg-primary-600/10 px-6 py-8 shadow-xl backdrop-blur-xl dark:bg-primary-400/10">
              <div class="flex flex-col gap-2">
                <h3 class="text-2xl font-medium font-poppins tracking-tight">{service.name}</h3>
                <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
