---
const { href } = Astro.props;
---

<a href={`${href}`} class="btn-53 inline-block w-48 bg-memoria/70 dark:bg-memoria/70">
  <div class="original bg-memoria/40 dark:bg-memoria/70">Get Inspired</div>
  <div class="letters">
    <span>G</span>
    <span>E</span>
    <span>T</span>
    <span>&nbsp;</span>
    <span>I</span>
    <span>N</span>
    <span>S</span>
    <span>P</span>
    <span>I</span>
    <span>R</span>
    <span>E</span>
    <span>D</span>
  </div>
</a>
